<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<link rel="icon" href="/static/img/favicon.ico" type="image/icon type">
<title>The Space Runner</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div id="canvas_container"></div>
<button id="fullscr" onclick="javascript:location.href='/home'">Play Game </button>

<script src='static/js/three.min.js'></script>
<script src="static/js/script.js"></script>
</body>
</html>
