
{% extends 'base.html' %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <title> Break the Limits</title>
</head>

{% endblock %}

 {% block content %}
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 game_over_content">
    <div class="game_over_msg_container col-xs-12">
        <body background="/static/img/Break_the_Limits_bg.jpg">

        <h3> Break the limits through the process of breaking bricks. <br><br>
            A bright sky is waiting for you! <br><br>
        <a style="color: #ffffff;text-decoration: underline" href="https://github.com/uchpython12/game/archive/refs/heads/main.zip"><i class="fa fa-gamepad"></i> Download : Bricks Breaker </a><br><br>
        </h3>
        <h4 style="color: #ffffff">Note: If Windows Defender shows a risk report, please click "Run anyway" <br><br>
            Relax! There is not any malware in our game</h4>
        </body>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">

    </div>

</div>
{% endblock %}



