{% extends 'base.html' %} 

{% block head %}
<title>instructions | {{ title }}</title>
{% endblock %}

{% block content %}
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 index_content">

<!--        <div class="row">-->
<!--            <h1>How to Play</h1>-->
<!--            <ul class="col-xs-10 col-xs-offset-1 how-to-play">-->
<!--              <li>You will be presented with 15 pictures taken by different space telescopes.</li>-->
<!--              <li>Your game play is saved, linked to your username, so please choose a unique name.</li>-->
<!--              <li>You can exit the game at any stage by clicking any option on menu, or by closing the tab.</li>-->
<!--              <li>You can take up where you left off at any stage by simply signing in with your username.</li>-->
<!--              <li>In the end, you will find out what your soul character is.</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div>-->
<!--            <form action="{{ url_for('home') }}">-->
<!--                <button class="btn home-btn" autofocus>Sign In to Play!</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    <video controls="controls" autoplay="autoplay">-->
    <video controls="controls">
  <source src="movie.ogg" type="video/ogg" />
  <source src="/static/audio/JWST.mp4" type="video/mp4" />
Your browser does not support the video tag.
</video>
</div>
{% endblock %}