{% extends 'base.html' %} 

{% block head %}
<title>instructions | {{ title }}</title>
{% endblock %}

{% block content %}
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 index_content">

        <div class="row">
              <h3 style="text-align: left;color:#333333">The first step to self-improvement and self-growth is knowing Yourself.</h3>
              <h3 style="text-align: left;color:#333333">Here is a video that could help you understand more about the features of the
                  <strong style="text-decoration: underline"> James Webb Space Telescope</strong> easily.</h3><br>
        </div>

    <video controls="controls">
    <source src="movie.ogg" type="video/ogg" />
  <source src="/static/audio/JWST.mp4" type="video/mp4" />
Your browser does not support the video tag.
</video>
</div>
{% endblock %}