{% extends 'base.html' %} 

{% block head %}
<title>leaderboard | {{ title }}</title>
{% endblock %}

{% block content %}
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 leader_content">
    <h1>JWST Quiz Leaderboard</h1>
    <h2>Did you make the cut?</h2>
    <table class="table leaderboard-table">
        <tbody>
            <tr>
                <th class="table_row">Rank</th>
                <th class="table_row">Username</th>
                <th class="table_row">High Score</th>
                <th class="table_row hidden-xs">Game No.</th>
            </tr>
            
            <tr>
                <td class="table_row">1</td>
                <td class="table_row">{{ leaderboard[0] }}</td>
                <td class="table_row">{{ leaderboard[1] }}</td>
                <td class="table_row hidden-xs">{{ leaderboard[2] }}</td>
            </tr>
            <tr>
                <td class="table_row">2</td>
                <td class="table_row">{{ leaderboard[3] }}</td>
                <td class="table_row">{{ leaderboard[4] }}</td>
                <td class="table_row hidden-xs">{{ leaderboard[5] }}</td>
            </tr>
            <tr>
                <td class="table_row">3</td>
                <td class="table_row">{{ leaderboard[6] }}</td>
                <td class="table_row">{{ leaderboard[7] }}</td>
                <td class="table_row hidden-xs">{{ leaderboard[8] }}</td>
            </tr>
            <tr>
                <td class="table_row">4</td>
                <td class="table_row">{{ leaderboard[9] }}</td>
                <td class="table_row">{{ leaderboard[10] }}</td>
                <td class="table_row hidden-xs">{{ leaderboard[11] }}</td>
            </tr>
            <tr>
                <td class="table_row">5</td>
                <td class="table_row">{{ leaderboard[12] }}</td>
                <td class="table_row">{{ leaderboard[13] }}</td>
                <td class="table_row hidden-xs">{{ leaderboard[14] }}</td>
            </tr>
            
        </tbody>
    </table>
    <div>
        <form action="{{ url_for('index') }}">
            <button class="btn home-btn" autofocus>Sign In to Play!</button>
        </form>
    </div>
</div>
{% endblock %}