{% extends 'base.html' %} 

{% block head %}
<title>index | {{ title }}</title>
{% endblock %}

{% block content %}
<audio controls="controls" autoplay="autoplay" loop="loop">
  <source src="song.ogg" type="audio/ogg" />
  <source src=static/audio/index.mp3 type="audio/mpeg" />
Your browser does not support the audio element.
</audio>

<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 index_content">
    <div class="pre-info">


    <div class="start-btn-container">
        {% if hide_start_btn == False %}
    </div>
        <div class="wel_msg">
        <p>{{ welcome_msg }}</p>
    </div>
        <h2>When was the last time you looked up into the sky at the stars?</h2>
        <h3>"The perfect match of souls and galaxies"<br>
Let music guide you to find your deep soul through the trillions of galaxies across the universe.</h3>
<!--        <p class="start-game-msg">Click Play Game</p>-->
        <form method="GET" action="/question/{{ username }}">
            <button class="btn start-btn">Play Game!</button>
        </form>
        {% endif %}
    </div>


    </div>
        {% if hide_start_btn == True %}
    <div class="sign-in">
    <h2>Welcome to the world from space telescope.<br>
    Find where you belong through these breathtaking pictures.</h2><p></p>
        <p>Please choose the description more likely to show how you feel when you see the picture.</p><p></p>
        <p>Note: Headphones are recommended for better experience.</p><p></p>
        <p>Please enter your name below before the journey starts.</p><p></p>
        <form method="POST" action="/check_username">
            <input class="form-control name-input" type="text" id="username" name="username"
            placeholder=" Enter username (alphanumeric)" pattern="^[a-zA-Z0-9]+$" autofocus required/>
            <button class="btn sign-in-btn">Sign in</button>
        </form>
    </div>
        {% endif %}

{% endblock %}